<section class="intro">
  <div class="container">
    <h2>Hi, I'm Sriram</h2>
    <p>I like building/tinkering with stuff, consuming art (movies, books), badminton, and <a href="https://lichess.org/@/zfevenz">chess</a>.</p>
    <p>I solve business problems using Java by day and tinker with systems/databases by night. Currently trying my hand at Rust</p>
    <p>I'm from Coimbatore but currently based in Bangalore.</p>
    <p>Find me on <a href="https://x.com/srir_m">Twitter</a>.</p>
  </div>
</section>
